@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  font-family: "Arvo", Helvetica, sans-serif;
  text-align: center;
}

#logo {
  height:15vw;
  width:15vw;
  margin-top: 2vw;
  background-color: blue;
}
.img-circle {
    border-radius: 50%;
}
h1 {
  font-weight: 400;
  font-size: 1.85em;
}
#sm {
  font-weight: 400;
  font-size: .75em;

}

.mission {
  display: block;
  width: 100%;
  padding: 0 30vw 2vw 30vw;
  text-align: center;
}
.disclaimer {
  font-size: .8em;
}

.main {
  width: 100vw;
  height: 100vh;
}

.main-area {
    padding: 0 14vw;
    line-height: 0;
    display: grid;
    grid-template-columns: 36vw 18vw 18vw;
    grid-template-rows: 36vw 18vw 18vw;
    grid-template-areas:
    "one two two"
    "three four four"
    "three five six";
}

.box {
  color: white;
  margin: 1vw;
  padding: 5vw;
}

.blue {
  grid-area: one;
  background-color: blue;
}
.purple {
  grid-area: two;
  background-color: purple;
}
.red {
  grid-area: three;
  background-color: red;
}
.orange{
  grid-area: four;
  background-color: orange;
  color:black;
}
.yellow {
  grid-area: five;
  background-color: yellow;
  color:black;
}
.green {
  grid-area: six;
  background-color: green;
}

@media (max-width: 500px) {
  .main-area {
      display: grid;
      padding: 0 20vw;
      grid-template-columns: 30vw 30vw;
      grid-template-rows: 60vw 60vw 60vw 30vw 30vw 30vw ;
      grid-template-areas:
      "one one"
      "two two"
      "three three"
      "four four"
      "five six"
  }
  .mission {
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    display: block;
    width: 100%;
    padding: 0 10vw 0 10vw;
  }
}

    /* .main-area {
       line-height: 0;
       box-sizing: border-box;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 100vw 100vw 100vw 100vw;
        grid-template-areas: none;
    } */
}
