* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.mission {
  display: block;
  width: 100%;
  padding: 0 30vw;
}

.main {
  width: 100vw;
  height: 100vh;
}

.main-area {
    padding: 0 14vw;
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    grid-template-rows: 36vw 18vw 18vw;
    grid-template-areas:
    "one one two two"
    "three three four four"
    "three three five six";
}

.box {
  color: white;
  margin: 1vw;
  padding: 5vw;
}

.blue {
  grid-area: one;
  background-color: blue;
}
.purple {
  grid-area: two;
  background-color: purple;
}
.red {
  grid-area: three;
  background-color: red;
}
.orange{
  grid-area: four;
  background-color: orange;
  color:black;
}
.yellow {
  grid-area: five;
  background-color: yellow;
  color:black;
}
.green {
  grid-area: six;
  background-color: green;
}

@media (max-width: 500px) {
  .main-area {
      display: grid;
      padding: 0 10vw;
      grid-template-columns: 80vw;
      grid-template-rows: 80vw 80vw 80vw 80vw 80vw 80vw ;
      grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }
  .mission {
    text-align: left;
    font-size: 1em;
    line-height: 1.2em;
    display: block;
    width: 100%;
    padding: 0 8vw 0 12vw;
  }
}

    /* .main-area {
       line-height: 0;
       box-sizing: border-box;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 100vw 100vw 100vw 100vw;
        grid-template-areas: none;
    } */
}
